html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

#app {
  min-height: 100%;
  font-family: $font-body;
  line-height: $line-height-body;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-shark);
  color: var(--concept-text-secondary);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-title;
  font-weight: 700;
  line-height: $line-height-title;
  letter-spacing: -0.64px;
  color: var(--concept-text-primary);
}
