@import 'reset.scss';

html,
body {
  height: 100%;
}

#app {
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
